mistat
numpy
pandas
jupyter
astroid
outdated
matplotlib
scipy
fdasrsf==2.5.2
statsmodels
KDEpy
seaborn
pingouin
bootstrapped
dtreeviz
svglib
scikit-fda
xgboost
networkx
pgmpy
pydotplus

seaborn
pyDOE3
diversipy