---
---
$color-1: #5DADE2;
$color-2: #AED6F1;
$font-grey: #1B4F72;

body {
    color: $font-grey;
    background: $color-1;
}

footer p, footer a {
    color: $font-grey;
}

#header_wrap {
    background: $color-1;
    background: -moz-linear-gradient(top, $color-2, $color-1);
    background: -webkit-linear-gradient(top, $color-2, $color-1);
    background: -ms-linear-gradient(top, $color-2, $color-1);
    background: -o-linear-gradient(top, $color-2, $color-1);
    background: linear-gradient(to top, $color-2, $color-1);
    
    a {
        color: $font-grey;
    }
}

#footer_wrap {
    background: $color-2;
    background: -moz-linear-gradient(top, $color-1, $color-2);
    background: -webkit-linear-gradient(top, $color-1, $color-2);
    background: -ms-linear-gradient(top, $color-1, $color-2);
    background: -o-linear-gradient(top, $color-1, $color-2);
    background: linear-gradient(to top, $color-1, $color-2);
}
