---
---
#header_wrap {
    background: #5DADE2;
    background: -moz-linear-gradient(top, #AED6F1, #5DADE2);
    background: -webkit-linear-gradient(top, #AED6F1, #5DADE2);
    background: -ms-linear-gradient(top, #AED6F1, #5DADE2);
    background: -o-linear-gradient(top, #AED6F1, #5DADE2);
    background: linear-gradient(to top, #AED6F1, #5DADE2);
}
